In [75]:
import pandas as pd
import numpy as np

## first, let's read in the raw data from an excel sheet
## for now, we'll analyze the first sheet of the document
try:
    foods_df = pd.read_excel("Alltables.xlsx", sheet_name=0, header=0, index=None)
    
except:
    print("the file does not exist yo!")

finally:
    print("Done executing!!, Happy Coding")
    
    

## nice, now we obviously have to drop a few rows, which I'll make columns later
foods_df = foods_df.iloc[3:20, :]

## let's remove unnecessary colummns
## list of unnecessary columns
unnecessary_columns = [f'Unnamed: {i}' for i in range (22, 43) if i != 23]
foods_df = foods_df.drop(unnecessary_columns, axis=1)

## let's not forget columns 1 and 2
foods_df = foods_df.drop(['Unnamed: 1', 'Unnamed: 2'], axis=1)


## now let's name our columns
## first part of the column
columns = ['Food Group'] 
years = [str(i) for i in range(1999, 2018)]

## second part
columns.extend(years)

## last part
columns.append('Annual Growth')

## finally
foods_df.columns = columns


## now the forth row isn't doing anything either so let's clear it
foods_df = foods_df.drop([4], axis=0)

## Data is looking clean now

## the last thing i'd like to do is remove 1/, /2 and /3 from rows 3,7 and 18 respectively, also, the first row
## isn't necessary
foods_df.iloc[0, 0] = 'Total U.S food Imports'

foods_df.iloc[3, 0] = 'Fish and Shellfish'

foods_df.iloc[14, 0] = 'Beverages'

foods_df = foods_df.drop([3], axis=0)


## gorgeous, now we can do any analysis we want to do
print("The end")


## let's now take a look at what our data looks like
foods_df

Done executing!!, Happy Coding
The end

,Food Group,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Annual Growth
5,Live meat animals,1189.673,1419.030,1771.188,1723.915,1276.670,1134.252,1672.046,2172.01,2587.963,...,1655.531,2007.144,1886.480,2192.007,2190.168,3008.558,2772.507,2102.939,2019.974,19.278995
6,Meats,3260.543,3827.666,4256.180,4283.459,4426.804,5718.502,5751.922,5243.63,5367.321,...,4612.100,5087.842,5755.232,6245.208,6529.834,8940.360,9991.722,8589.096,8877.561,17.393514
7,Fish and Shellfish,8859.783,9879.784,9663.260,9963.349,10859.886,11106.292,11840.228,13112.3,13434.570,...,12933.853,14516.660,16459.370,16467.533,17784.323,20053.522,18520.795,19260.734,21324.071,11.512709
8,Dairy,930.314,922.327,995.753,1008.770,1110.298,1292.302,1388.435,1405.67,1500.811,...,1353.430,1347.198,1502.120,1604.166,1649.071,1844.340,1893.472,1875.769,1827.171,-0.858527
9,Vegetables,3631.587,3771.363,4156.609,4391.086,5082.412,5729.987,6043.082,6619.3,7256.042,...,7525.205,8705.586,9666.640,9945.597,10733.513,10929.738,11290.193,12469.205,12742.979,3.848896
10,Fruits,4764.456,4629.477,4665.207,5067.561,5557.736,5962.378,6873.761,7707.09,9217.309,...,9639.785,10648.976,11973.913,12537.873,13602.256,14807.721,15954.863,17157.015,18383.124,-2.833041
11,Nuts,793.942,808.700,670.220,700.519,775.582,1078.367,1121.938,1099.43,1181.410,...,1278.298,1461.700,1863.236,1999.568,2000.193,2360.537,2767.260,2870.774,3300.622,1.858826
12,"Coffee, tea, and spices",3603.739,3441.755,2400.731,2454.959,2871.855,3144.276,3770.808,4194.91,4791.202,...,5160.341,6265.019,9715.769,8725.690,7633.188,8298.813,8536.214,8310.906,9068.848,-4.494887
13,Grains,2659.484,2734.778,2989.796,3342.798,3618.216,4010.485,4240.661,4910.12,5914.783,...,6846.104,7137.522,8062.835,9111.097,10256.996,10030.899,10030.168,10178.584,10860.801,2.831151
14,Vegetable oils,1356.944,1362.453,1177.016,1301.644,1506.518,2240.954,2362.600,2818.32,3516.662,...,4039.416,4508.833,6793.565,6235.874,6664.522,7336.604,6304.047,6521.577,7224.740,0.405986
15,Sugar and candy,1617.654,1571.577,1580.901,1842.611,2130.769,2111.349,2473.691,3021.16,2606.162,...,3081.151,4107.440,5207.373,4783.519,4327.398,4582.294,4705.266,4693.151,4720.458,-2.848384
16,Cocoa and chocolate,1522.497,1404.471,1535.932,1760.854,2439.231,2484.383,2750.601,2659.23,2661.587,...,3476.220,4295.163,4680.551,4095.686,4158.849,4727.952,4859.677,5080.620,5006.537,-7.752134
17,Other edible products,2121.489,2101.726,2251.984,2481.981,3637.179,4784.413,5536.421,5963.09,6080.004,...,6111.261,6781.560,8133.175,10977.579,9830.990,9715.762,9591.568,9350.956,10133.877,-0.931563
18,Beverages,4411.842,4815.905,5101.297,5794.681,6597.500,7024.264,7887.494,9212.12,9912.729,...,8720.950,9262.835,10142.854,10858.462,11247.585,11964.048,12785.681,13492.881,14382.934,9.158601
19,Liquors,2381.870,2725.532,2846.977,3091.121,3438.202,3709.191,4089.899,4511.52,5047.663,...,4787.029,5189.001,5733.780,6022.959,6391.748,6587.486,6774.193,7165.115,7362.937,14.428243